body 
{
 background-image: url(K5-seasons/img/K5_Fall.png);
}

main
{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;
}

nav 
{}

article 
{
 background-color: peachpuff;
}
