body 
{
    background-image: url("../img/K5Summer.jpg");
    background-size: cover;
}

main
{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr;
}

h1
{
    text-align: center;
    text-shadow: 0px 1px 0px #c7c8ca, 0px 2px 0px #b1b3b6, 0px 3px 0px #9d9fa2, 0px 4px 0px #8a8c8e, 0px 5px 0px #77787b, 0px 6px 0px #636466, 0px 7px 0px #4d4d4f, 0px 8px 7px #001135;
    color: #fff;
    
}
h2
{
    font-size: 2em;
}
p
{
    font-size: 1.5em;
}

.top
{
    padding-top: 10px;
}

.nav
{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:50px 200px;
    text-align: center;
    align-self: center;
    color: black;
    background-color: rgb(220, 255, 125,.9);
    border-radius: 10px;
    margin: 10px 200px 20px 200px;
    font-family: century gothic;
    text-decoration: none;
    
}

.season
{
    height: 150px;
    width: auto;
}

li
{
    color: black;
}

article 
{
    grid-column-start: 2;
    background-color: rgb(220, 255, 125,.9);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}


@media(max-width:1050px)
{
    .season
    {
        height: 100px;
        width: auto;
    }
    .nav
    {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:40px 110px;
    border-radius: 10px;
    margin: 10px 100px 10px 100px; 
    }
}
@media(max-width:650px)
{
    .season
    {
        height: 65px;
        width: auto;
    }
    .nav
    {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:40px 40px 75px 75px;
    border-radius: 10px;
    }
}